* {
    font-family: Copperplate, Papyrus, fantasy;
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 50px 100px;
    background: blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.task{
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}